# Super Store Analysis-2022

Use the "Run" button to execute the code.

## Dataset Overview
The dataset we will use is a Vrunda Store dataset which is a Sales dataset that stores the Order ID, Cust ID, Gender, Channel,Amount,etc on basis different dates in 2022. The dataset is simply available on YouTube and you can access or download the dataset using this link. The dataset contains 31048 rows and 21 columns.The basic overview of the dataset can observe in the below-given screenshot.

In [2]:
import pandas as pd
import matplotlib.pyplot as plt


store_data = pd.read_csv('C:/Users/Admin/Desktop/PythonDataAnalytics/SuperStoreAnalysis2022/Super_Store_2022.csv')
store_data #Prinr Top 5 Rows And 5 Bottom Rows
#store_data.head()
#store_data.tail()

,index,Order ID,Cust ID,Gender,Age,Age Group,Date,Month,Status,Channel,...,Category,Size,Qty,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,B2B
0,1,171-1029312-3038738,1029312,Women,44,Adult,12/4/2022,Dec,Delivered,Myntra,...,kurta,XXL,1,INR,376,MOHALI,PUNJAB,140301,IN,False
1,2,405-2183842-2225946,2183842,Women,29,Teenager,12/4/2022,Dec,Delivered,Ajio,...,Set,L,1,INR,1449,GURUGRAM,HARYANA,122002,IN,False
2,3,171-1641533-8921966,1641533,Women,67,Senior,12/4/2022,Dec,Delivered,Myntra,...,Set,S,1,INR,453,KOLKATA,WEST BENGAL,700029,IN,False
3,4,404-7490807-6300351,7490807,Women,20,Teenager,12/4/2022,Dec,Delivered,Amazon,...,Set,M,1,INR,729,THANJAVUR,TAMIL NADU,613007,IN,False
4,5,403-9293516-4577154,9293516,Women,62,Senior,12/4/2022,Dec,Delivered,Myntra,...,kurta,XXL,1,INR,544,GURUGRAM,HARYANA,122001,IN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31042,31043,405-4724097-1016369,4724097,Man,60,Senior,1/6/2022,Jan,Delivered,Flipkart,...,kurta,XL,1,INR,565,PUNE,MAHARASHTRA,412307,IN,False
31043,31044,405-4724097-1016369,4724097,Man,34,Adult,1/6/2022,Jan,Delivered,Myntra,...,Set,S,1,INR,939,BENGALURU,KARNATAKA,560061,IN,False
31044,31045,408-3572295-5992330,3572295,Man,29,Teenager,1/6/2022,Jan,Delivered,Amazon,...,Set,L,1,INR,1115,PITHORAGARH,UTTARAKHAND,262501,IN,False
31045,31046,405-1423498-9705162,1423498,Man,46,Adult,1/6/2022,Jan,Delivered,Amazon,...,kurta,M,1,INR,399,DHULE,MAHARASHTRA,424006,IN,False
31046,31047,408-4694875-8249153,4694875,Man,36,Adult,1/6/2022,Jan,Delivered,Flipkart,...,Western Dress,3XL,1,INR,791,WARANGAL,TELANGANA,506001,IN,False

## Evaluating for Missing Data

In [ ]:
missing_data = store_data.isnull()
missing_data.head(5)